* {
  box-sizing: border-box;
}
body {
  background-color: #ecf2f8;
  color: #48556a;
  font-family: 'Manrope', sans-serif;
}
h1,
h2,
p,
aside {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
.container {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.card {
  box-shadow: 0px 0px 50px rgba(0,0,0,0.08);
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  max-width: 500px;
  position: relative;
}
.card__content {
  padding: 3em;
  display: grid;
  gap: 1.5em;
}
.card__content h1 {
  line-height: 1.4;
}
.card__content p {
  line-height: 1.8;
}
.card__img {
  width: 100%;
}
.card__footer {
  margin-block-start: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__author {
  display: flex;
  align-items: center;
  gap: 1em;
}
.card__avatar {
  aspect-ratio: 1;
  width: 60px;
  border-radius: 100px;
}
.user__info {
  font-size: 0.8rem;
}
.user p {
  font-size: 1.3em;
  color: #9eafc2;
}
.btn__share {
  border: none;
  padding: 0;
  aspect-ratio: 1;
  width: 50px;
  border-radius: 100%;
}
.btn__img {
  width: 50%;
}
.btn__share--active {
  background-color: #6d7f97;
  color: #f00;
}
.contacts {
  background-color: #48556a;
  color: #ecf2f8;
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: 0;
  padding: 2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.5em;
}
.contacts__media {
  display: flex;
  align-items: center;
  gap: 1.5em;
}
.contacts__title {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.5rem;
  color: #9eafc2;
}
.contacts__img {
  aspect-ratio: 1;
  width: 30px;
}
@media (min-width: 800px) {
  .card {
    max-width: 1000px;
    display: flex;
    overflow: inherit;
  }
  .card__banner {
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
  }
  .card__img {
    min-height: 100%;
    object-fit: cover;
    object-position: center left;
  }
  .contacts {
    inset-inline-start: inherit;
    inset-inline-end: -10%;
    inset-block-end: 35%;
    padding: 1.5rem;
    width: 35%;
    border-radius: 15px;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.08);
  }
  .contacts::after {
    position: absolute;
    inset-block-end: -22%;
    content: '';
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 18px solid #48556a;
  }
  .btn__share--active {
    display: none;
  }
}
.hidden {
  display: none;
}
