* {
  box-sizing: border-box;
}
body {
  background-color: #ecf2f8;
  color: #48556a;
  font-family: 'Manrope', sans-serif;
}
h1,
h2,
p,
figure {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
.container {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.card {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  max-width: 500px;
}
.card__content {
  padding: 3em;
  display: grid;
  gap: 1.5em;
}
.card__content h1 {
  line-height: 1.4;
}
.card__content p {
  line-height: 1.8;
}
.card__img {
  width: 100%;
}
.card__footer {
  margin-block-start: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__author {
  display: flex;
  align-items: center;
  gap: 1em;
}
.card__avatar {
  aspect-ratio: 1;
  width: 60px;
  border-radius: 100px;
}
.user__info {
  font-size: 0.8rem;
}
.user p {
  font-size: 1.3em;
  color: #9eafc2;
}
.btn--share {
  border: none;
  padding: 0;
  aspect-ratio: 1;
  width: 48px;
  border-radius: 100%;
}
.btn__img {
  width: 40%;
}
.contacts {
  display: none;
}
