.btn

  &__share
    border: none
    padding: 0
    aspect-ratio: 1
    width: 50px
    border-radius: 100%

  &__img
    width: 50%
  
  &__share--active
    background-color: main-light
    color: red