.card
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
  background-color: #fff
  border-radius: 15px
  overflow: hidden
  max-width: 500px

  &__content
    padding: 3em
    display: grid
    gap: 1.5em

    h1
      line-height: 1.4
    p
      line-height: 1.8

  &__img
    width: 100%

  &__footer
    margin-block-start: 1.5em
    display: flex
    justify-content: space-between
    align-items: center

    p
  
  &__author
    display: flex
    align-items: center
    gap: 1em

  &__avatar
    aspect-ratio: 1
    width: 60px
    border-radius: 100px
  
