.card
  max-width: 1000px
  display: flex
  overflow: inherit

  &__banner
    width: 100%
    border-top-left-radius: 15px
    border-bottom-left-radius: 15px
    overflow: hidden
  
  &__img
    min-height: 100%
    object-fit: cover
    object-position: center left

 